<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>IAP Flask</title>
  </head>
  <body>
    <div class="backdrop">
      <div class="form__container">
      </div>
    </div>
    <div class="container">
      <div class="details__container">
        <h1 class="details__title">Flask Introduction Workshop</h1>
        <h3 class="details__subtitle">
          Simple Account UI backed by Flask microframework.
        </h3>
        <div class="admin__container">
          <button type="button" class="btn btn__option btn__login">Login</button>
          <button type="button" class="btn btn__option btn__register">Register</button>
        </div>
      </div>
      <div class="logo__container">
        <img
          class="logo"
          src="{{ url_for('static', filename='img/flask.svg') }}"
          alt="Flask Python Microframework"
        />
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    </body>
  </body>
</html>
